<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="flex w-100">
			<div class="flex pa3 db mr4 h-100 w-100 items-end">
				<img src="/img/hs-logo.png" alt="Haptics Symposium Logo" class="br0 db mb0"/>
				<h1>{{ .Site.Title }} </h1>
			</div>
	</a>
	

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/" class="pa3 no-underline db">Home</a></li>

		<li><a href="/sponsors" class="pa3 no-underline db">Sponsors</a></li>

		<li><a href="/about" class="pa3 no-underline db">About</a></li>
		
	</ul>

</nav>
